.tool-bar {
    margin-bottom: 20px;

    .tool-bar-list {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .tool-bar-preview {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            color: $clr2;
            opacity: .7;
            transition: opacity .2s;
            cursor: pointer;
            padding: 5px;
            border-bottom: 3px solid transparent;
            font-size: 12px;
            font-weight: 600;

            img {
                width: 24px;
                height: 24px;
            }

            &:hover {
                opacity: 1;
                color: #000;
                border-bottom: 3px solid #ddd1d1;
            }

            &.active {
                opacity: 1;
                color: #000;
                border-bottom: 3px solid #ddd1d1;
            }


        }
    }

    .more-filters {
        display: flex;
        gap: 10px;
        font-size: 12px;
        align-items: center;
        border-radius: 12px;
        padding: 0.9rem 1rem;
        border: 1px solid #ddd;
        font-family: 'Cereal-Med';
        cursor: pointer;

        img {
            height: 14px;
            width: 14px;
        }

    }


}

@media screen and (max-width: $narrow-breakpoint) {

    .tool-bar {

        display: none;
    }
}